input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#email-div {
  margin-bottom:6px;
  padding-left:6px;
  padding-right:6px;
}
#card_submit_button_div {
  display: none;
  padding-right: 7px;
  padding-left: 5px;
}
#card_submit_button {
  background-color: #5ea367;
  padding-right:6px;
  padding-left:6px;
  border-radius:5px;
  margin-bottom:8px;
}
#use_apms {
  color: rgb(248, 248, 248);
  background-color: #0f0f0f;
  padding-right:6px;
  padding-left:6px;
  border-radius:5px;
}
#pay-paypal {
  padding-left:6px;
  padding-right:6px;
  padding-bottom:8px;
}
#pay-venmo {
  padding-left:6px;
  padding-right:6px;
  padding-bottom:8px;
}
#pay-apple-pay-div {
  padding-left:6px;
  padding-right:6px;
  padding-bottom:8px;
}
#pay-google-pay {
  padding-left:6px;
  padding-right:6px;
  padding-bottom:8px;
  margin-left:1px;
  margin-right:1px;
  height:43px;
}
.pinned-icons-parent {
  cursor:pointer;
  font-size:.75rem;
}
.pinned-icons-text {
  text-decoration: underline;
}
#email {
  border-width:1px;
  border-color:#909697;
  border-radius:5px;
}
#amount {
  font-size:50px;
  border-radius:5px;
}
apple-pay-button {
  --apple-pay-button-width: 100%;
  --apple-pay-button-height: 45px;
  --apple-pay-button-border-radius: 5px;
  --apple-pay-button-padding: 0px 0px;
  --apple-pay-button-box-sizing: border-box;
}
#recurring_label_div {
  display: flex;
  justify-content: center;
  padding-bottom:5px;
}
#social-icons-div {
  margin-top:7px;
}#qr-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  animation: modalFadeIn 0.5s, zoomIn 0.5s;
}

.qr-title, .qr-footer {
  color: black;
  margin: 10px 0; /* Adjust margin as needed */
  text-align: center;
}

.qr-code img {
  display: block;
  max-width: 200px; /* Adjust based on your QR code size */
  margin: auto; /* Centers the QR code image */
}

@keyframes modalFadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes zoomIn {
  from {transform: scale(0);}
  to {transform: scale(1);}
}

#pay-google-pay .gpay-button-fill .gpay-button {
  margin: 0 !important;
}
.spinner-container {
    position: relative;
    padding-top:135px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes flyIn {
  from {transform: translateY(-100%);}
  to {transform: translateY(0);}
}
.close {cursor: pointer; padding-left: 10px;}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top-color: red;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}

.hide {
    display: none;
}

#payment-methods {
    opacity: 0;
    transition: opacity 2s ease-out;
}

.fade-in {
    opacity: 1 !important;
}

/* Modal Styles */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 500; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}